@page "/Categoria"
@using Models
@using Services
@inject ICategoriaServices CategoriaService

<MudText Typo="Typo.h4" Style="margin:10px">Categorias</MudText>

<style>
    .Carta {
        width: 100%;
        height: 100%;
        box-shadow: 5px 6px 7px rgb(0, 0, 205);
    }

    .Carta {
        width: 100%;
        height: 100%;
        transition: transform 0.3s;
    }

        .Carta:hover {
            transform: translate(10px, 10px);
        }

</style>

@if (categorias == null)
{
    <p>Cargando...</p>
}
else
{
    <MudGrid>
        @foreach (var item in categorias)
        {
            <MudItem xs="12" sm="10" md="6" lg="4">
                <MudCard Class="Carta">
                    <MudCardContent>
                        <MudText>@item.Nombre</MudText>
                       
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Variant="Variant.Text" Color="Color.Primary">Mas</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
         

        }
    </MudGrid>
}


@code {
    IEnumerable<Categoria> categorias = new List<Categoria>();

    protected override async Task OnInitializedAsync()
    {
        categorias = await CategoriaService.GetAll();
    }
}