@page "/Categoria"
@using Models
@using Services
@inject ICategoriaServices CategoriaService

<MudText Typo="Typo.h4" Style="margin:10px">Categorias</MudText>

@if (categorias == null)
{
    <p>Cargando...</p>
}
else
{
    <MudGrid>
        @foreach (var item in categorias)
        {
            <MudItem xs="12" sm="10" md="6" lg="4">
                <MudCard>
                    <MudCardContent>
                        <MudText>@item.Nombre</MudText>
                        <MudText Typo="Typo.body2">The quick, brown fox jumps over a lazy dog.</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Variant="Variant.Text" Color="Color.Primary">Mas</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
         

        }
    </MudGrid>
}


@code {
    IEnumerable<Categoria> categorias = new List<Categoria>();

    protected override async Task OnInitializedAsync()
    {
        categorias = await CategoriaService.GetAll();
    }
}