@page "/Consola"
@using  Models
@using Services

@inject IConsolaServices ConsolaService

<PageTitle>Consolas</PageTitle>

<MudText Typo="Typo.h4">Consolas</MudText>
@if (consolas == null)
{
    <p>Cargando...</p>
}
else
{
    <MudGrid>
        @foreach (var item in consolas)
        {
            <MudItem xs="12" sm="10" md="6" lg="4">
                <MudCard>
                    <MudCardHeader Class="blue lighten-1">
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">@item.Nombre</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudImage>@item.Imagen</MudImage>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Link="@($"/detalles/{item.Id}")" Variant="Variant.Outlined" Color="Color.Success">Detalles</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
        }
    </MudGrid>
}

@code {
    IEnumerable<Consola> consolas = new List<Consola>();

    protected override async Task OnInitializedAsync()
    {
        consolas = await ConsolaService.GetAll();
    }
}
