﻿
@page "/Consola/{id:int}"
@using Models
@using Services
@inject IConsolaServices ConsolaService

<MudText Typo="Typo.h5">Detalles del Consola</MudText>

@if (consola == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <MudCard>
        <MudCardHeader Class="blue lighten-2">
            <CardHeaderContent>
                <MudText Typo="Typo.h6">@consola.Nombre</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudText Typo="Typo.body2">@consola.Precio</MudText>
        </MudCardContent>
        <MudCardActions Class="center">
            <img src="@consola.Imagen" alt="@consola.Nombre" Elevation="25" Class="rounded-lg" width="60%" height="auto" />
        </MudCardActions>
    </MudCard>
}

@code {
    [Parameter]
    public int id { get; set; }

    Consola consola = new Consola();

    protected override async Task OnInitializedAsync()
    {
        if (id > 0)
            consola = await ConsolaService.GetById(id);
    }
}