@page "/Producto"
@using Models
@using Services

@inject IProductoServices ProductoService

<PageTitle>Productos</PageTitle>

<MudText Typo="Typo.h4">Productos</MudText>

@if (productos == null)
{
    <p>Cargando...</p>
}
else
{
    <MudGrid>
        @foreach (var item in productos)
        {
            <MudItem xs="12" sm="10" md="6" lg="4">
                <MudCard>
                    <MudCardHeader Class="blue lighten-1">
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">@item.Nombre</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudImage>@item.Imagen</MudImage>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Link="@($"/detalles/{item.Id}")" Variant="Variant.Outlined" Color="Color.Success">Detalles</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
        }
    </MudGrid>
}
@code {

    IEnumerable<Producto> productos = new List<Producto>();

    protected override async Task OnInitializedAsync()
    {
        productos = await ProductoService.GetAll();
    }
}
